@font-face {
    font-family: 'iconfont';
    src: url('./assets/iconfont.ttf') format('truetype');
}

.icon {
    font-family: 'iconfont';
    font-size: 40px;
}

.hello {
    color: blueviolet;
}